.header{
    height:60px;
    display:flex;
    align-items:center;
    background-color: black;
    position:sticky;
    top:0;
    z-index: 1000;
}
.logo{
   width:100px;
   object-fit:contain;
   margin:0 20px;
   margin-top:18px;
   font-size: x-large;
   color: aliceblue;
}
.header_search{
    display: flex;
    flex: 1; 
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    height: 22px;
    padding: 5px;
    border:none;
    width: 100%;
}
.searchicon{
    height:22px !important;
    padding:5px;
    background-color: orange;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:whitesmoke;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 15px;
}
.optionL1{
    font-size: 11px;
    
    font-weight: 250;
}
.optionL2{
    font-size: 13px;
    font-weight: 750;
}
.option_basket{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 25px;
}